<div class="container">
    <h2>Filterable List</h2>
    <p>Type something in the input field to search the list for specific items:</p>  
    <input class="form-control" id="myInput" type="text" 
    placeholder="Search.." autocomplete="off"
    (keyup)="onkeyup($event)">
    <br>
    <ul class="list-group" id="myList">
      <li *ngFor="let event of (data$ | async)"
      (click)="redirect(event.id)"
      class="list-group-item">{{ event.eventName }}
    </li>
    </ul>  
    <div *ngIf="(data$ | async)?.length < 1 && (data$ | async)">
        <hr />
        <p>No results found :(</p>
      </div>
  </div>