<loading-screen message="Loading" *ngIf="loading"></loading-screen>
<owl-carousel-o [options]="customOptionsFeatured" *ngIf="!loading">
  <ng-template carouselSlide *ngFor="let event of featuredEvents">
    <div [routerLink]="['events/details', event.id]">
      <img class="featured-card-img" [src]="event.banner" />
    </div>
  </ng-template>
</owl-carousel-o>

<div *ngIf="!loading">
  <div class="d-sm-flex align-items-center justify-content-between my-3">
    <h3 routerLink="events/categories" class="mb-0 text-gray-900">Browse by category</h3>
    <h5 class="mb-0"><a routerLink="events/categories">
        View all
        <i class="ml-2 fas fa-eye fa-sm"></i>
      </a>
    </h5>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let category of categories">
      <ng-template carouselSlide [id]="category.id">
        <div class="card c-card" style="height: 100px;" [routerLink]="['events/categories', category.name]">
          <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
            <h6 class="text-gray-900 mb-0 font-weight-bold">
              {{ category.name }}
            </h6>
          </div>
          <img [src]="category.bgIMG" [alt]="category.name" [title]="category.name" />
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

  <div *ngFor="let category of categoriesCarousal">
    <div class="d-sm-flex align-items-center justify-content-between my-3">
      <h3 class="mb-0 text-gray-900" [routerLink]="['events/categories', category.category]">{{ category.category }}</h3>
      <h5 class="mb-0"><a [routerLink]="['events/categories', category.category]">
          View all
          <i class="ml-2 fas fa-eye fa-sm"></i>
        </a>
      </h5>
    </div>
    <owl-carousel-o [options]="customOptions" *ngIf="!loading">
      <ng-template carouselSlide *ngFor="let event of category.data" [width]="500">
        <div class="card-wrapper">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>