<div class="text-center mt-1 mb-4 col-12" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h4>Loading</h4>
</div>
<div class="container-fluid">
  <div *ngIf="ed" class="row">
    <div class="col-xl-12 col-lg-12">
      <div>
        <!-- <div
        *ngIf="liked"
        class="position-absolute bg-white shadow-sm rounded text-center p-2 m-4 love-box"
      ></div> -->
        <img [src]="ed.banner" class="img-fluid" alt="..." />
      </div>
    </div>
    <div class="col-xl-3 col-lg-3">
      <div class="bg-white p-3 widget shadow rounded mb-4">
        <img [src]="ed.poster" class="img-fluid rounded" alt="..." />
        <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">
          Organized By
        </h1>
        <p>{{ ed.eventOrganizedBy }}</p>
        <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">
          Event Date
        </h1>
        <p>
          {{
            ed.eventDate.day +
              "/" +
              ed.eventDate.month +
              "/" +
              ed.eventDate.year
          }}
        </p>
        <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">
          Event Timing
        </h1>
        <p>{{ ed.eventTiming }}</p>
        <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">Entry Fee</h1>
        <p class="mb-0">{{ ed.eventTicketPrice }}</p>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9">
      <div class="bg-white info-header shadow rounded mb-4">
        <div
          class="row d-flex align-items-center justify-content-between p-3 border-bottom"
        >
          <div class="col-lg-7 m-b-4">
            <h3 class="text-gray-900 mb-0 mt-0 font-weight-bold">
              {{ ed.eventName }}
            </h3>
            <p class="mb-0 text-gray-800">
              <small class="text-muted"
                ><i class="fas fa-film fa-fw fa-sm mr-1"></i>
                {{ ed.eventCategory }}</small
              >
            </p>
          </div>
          <div class="col-lg-5 text-right">
            <button
              *ngIf="!liked"
              class="d-sm-inline-block btn-primary btn mx-1"
              (click)="like(ed.id)"
            >
              like
              <i class="far fa-heart text-white"></i>
            </button>
            <button
              class="d-sm-inline-block btn  mx-1 btn-danger"
              (click)="dislike(ed.id)"
              *ngIf="liked"
            >
              dislike
              <i class="fas fa-heart text-white"></i>
            </button>

            <button
              *ngIf="joined"
              (click)="joinEvent(ed.id)"
              class="d-sm-inline-block btn btn-primary "
            >
              Go to Website
              <i class="fas fa-plus fa-sm  ml-1"></i>
            </button>

            <a
              [href]="ed.eventRedirectUrl"
              target="_blank"
              *ngIf="visited"
              class="d-sm-inline-block btn btn-success"
            >
              Go to Website
            </a>
          </div>
        </div>
        <div
          class="row d-flex align-items-center justify-content-between py-3 px-4"
        >
          <div class="col-lg-6 m-b-4">
            <p class="mb-0 text-gray-900">
              <i class="fas fa-money-bill fa-sm fa-fw mr-1"></i> Entery Fees -
              <span class="text-white rounded px-2 py-1 bg-info"
                >&#8377;{{ ed.eventTicketPrice }}</span
              >
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <a
              [href]="ed.eventDetails.eventSocialFacebook"
              class="mr-2 btn btn-sm btn-primary btn-circle"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
            <a
              [href]="ed.eventDetails.eventSocialInstagram"
              class="btn btn-sm btn-danger btn-circle"
              target="_blank"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="bg-white p-3 widget shadow rounded mb-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#description"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#faq"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >FAQ
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="description"
            role="tabpanel"
            aria-labelledby="description-tab"
          >
            {{ ed.eventDetails.eventDescription }}
          </div>

          <div
            class="tab-pane fade"
            id="faq"
            role="tabpanel"
            aria-labelledby="faq-tab"
          >
            {{ ed.eventDetails.eventFaq }}
          </div>
          <!-- <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
               <div class="card-body p-0 reviews-card">
                  <div class="media mb-4">
                     <img class="d-flex mr-3 rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/townscript-2cfcd.appspot.com/o/assets%2Fimg%2Fs4.png?alt=media&token=11e2d070-2169-4c42-941c-b48502a50269" alt="">
                     <div class="media-body">
                        <div class="mt-0 mb-1">
                           <span class="h6 mr-2 font-weight-bold text-gray-900">Stave Martin</span> <span><i
                                 class="fa fa-calendar"></i> Feb 12, 2018</span>
                           <div class="stars-rating float-right"> <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <span class="rounded bg-warning text-dark pl-1 pr-1">5/3</span>
                           </div>
                        </div>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                           nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                     </div>
                  </div>
                  <div class="media">
                     <img class="d-flex mr-3 rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/townscript-2cfcd.appspot.com/o/assets%2Fimg%2Fs4.png?alt=media&token=11e2d070-2169-4c42-941c-b48502a50269" alt="">
                     <div class="media-body">
                        <div class="mt-0 mb-1">
                           <span class="h6 mr-2 font-weight-bold text-gray-900">Mark Smith</span> <span><i
                                 class="fa fa-calendar"></i> Feb 12, 2018</span>
                           <div class="stars-rating float-right"> <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <span class="rounded bg-warning text-dark pl-1 pr-1">5/3</span>
                           </div>
                        </div>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                           nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        <div class="media mt-4">
                           <img class="d-flex mr-3 rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/townscript-2cfcd.appspot.com/o/assets%2Fimg%2Fs4.png?alt=media&token=11e2d070-2169-4c42-941c-b48502a50269" alt="">
                           <div class="media-body">
                              <div class="mt-0 mb-1">
                                 <span class="h6 mr-2 font-weight-bold text-gray-900">Ryan Printz</span> <span><i
                                       class="fa fa-calendar"></i> Feb 12, 2018</span>
                                 <div class="stars-rating float-right"> <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <span
                                       class="rounded bg-warning text-dark pl-1 pr-1">5/3</span>
                                 </div>
                              </div>
                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                 sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                 condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="media mt-4">
                     <img class="d-flex mr-3 rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/townscript-2cfcd.appspot.com/o/assets%2Fimg%2Fs4.png?alt=media&token=11e2d070-2169-4c42-941c-b48502a50269" alt="">
                     <div class="media-body">
                        <div class="mt-0 mb-1">
                           <span class="h6 mr-2 font-weight-bold text-gray-900">Stave Mark</span> <span><i
                                 class="fa fa-calendar"></i> Feb 12, 2018</span>
                           <div class="stars-rating float-right"> <i class="fa fa-star active"></i>
                              <i class="fa fa-star active"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i> <span class="rounded bg-warning text-dark pl-1 pr-1">5/3</span>
                           </div>
                        </div>
                        <p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                           sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                           condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                     </div>
                  </div>
               </div>
               <div class="p-4 bg-light rounded mt-4">
                  <h5 class="card-title mb-4">Leave a Review</h5>

                  
                  <div name="sentMessage">
                     <div class="row">
                        <div class="control-group form-group col-lg-4 col-md-4">
                           <div class="controls">
                              <label>Your Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" required="">
                           </div>
                        </div>
                        <div class="control-group form-group col-lg-4 col-md-4">
                           <div class="controls">
                              <label>Your Email <span class="text-danger">*</span></label>
                              <input type="email" class="form-control" required="">
                           </div>
                        </div>
                        <div class="control-group form-group col-lg-4 col-md-4">
                           <div class="controls">
                              <label>Rating <span class="text-danger">*</span></label>
                              <select class="form-control custom-select">
                                 <option>1 Star</option>
                                 <option>2 Star</option>
                                 <option>3 Star</option>
                                 <option>4 Star</option>
                                 <option>5 Star</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="control-group form-group">
                        <div class="controls">
                           <label>Review <span class="text-danger">*</span></label>
                           <textarea rows="3" cols="100" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="text-right">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                     </div>
                  </div>
                  

               </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
